[submodule "services/tic-tac-toe-frontend"]
	path = services/tic-tac-toe-frontend
	url = git@github.com:esoft-school-2022/tic-tac-toe-frontend.git
[submodule "services/tic-tac-toe-api"]
	path = services/tic-tac-toe-api
	url = git@github.com:esoft-school-2022/tic-tac-toe-backend.git
