[submodule "services/client"]
	path = services/client
	url = git@github.com:esoft-school-2022/tic-tac-toe-frontend.git
[submodule "services/api"]
	path = services/api
	url = git@github.com:esoft-school-2022/tic-tac-toe-backend.git
